/*
// Filename: CSS.css
// By: Jacob Psutka, Sean Potts
*/


/* STYLE
----------------------------------------------------------*/
.style {
    background: #96bfff;
    font-size: 1em;
    font-family: "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 50px;
    color: Black;
}

/* HEADINGS   
----------------------------------------------------------*/
h2 {
    font-size: 3em;
    font-weight: 600;
}


/* MISC  
----------------------------------------------------------*/

.notification {
    font-size: 1em;
    color: Black;
}
